.link-button {
  background: none;
  border: none;
  color: #0d6efd; 
  text-decoration: underline;
  cursor: pointer;
  padding: 0;
  font-size: inherit;
}

.link-button:hover {
  color: #084298; 
}
.category-filter{
  font-weight: 600;
  font-size: large;
}
