.input-wrapper {
  position: relative;
  display: inline-block;
}

#descuento {
  width: 80px;       
  padding-right: 20px;
}

.percent-symbol {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  color: #555;
}
