@if (!product) {
  Cargando...
} @else {
  <li class="list-group-item py-3">
    <div class="d-flex align-items-center justify-content-between">
      <strong class="fs-5"> {{ product.name }} </strong>
      <div>
        @if (product.discount > 0) {
        <span class="badge bg-danger me-2"> {{ product.discount }}% OFF </span>
        }
        @if (product.hasHappyHour) {
        <span class="badge bg-success"> Happy Hour!🥳 </span>
        }
        @if (product.featured) {
        <span class="badge bg-success"> Producto destacado!🎉 </span>
        }
      </div>
      <p class="mb-1 mt-2">Producto recomendado para: {{ product.recommendedFor }} personas</p>
      <p class="mb-1 mt-2">{{ product.description }}</p>
      <p class="fw-bold mb-0">Precio: ${{ productsService.getFinalPrice(product) }}</p>
    </div>
  </li>
}